{% extends 'layout.html' %}

{% block title %}Extended Profile{% endblock %}

{% block content %}
<div class="register">
			<h1>Edit Profile</h1>
			<div class="links">
				<a href="{{ url_for('edit_extended_profile') }}">Edit_Extended_Profile</a>
				<a href="{{ url_for('edit_profile') }}" class="active">Edit_Profile</a>
			</div>
			<form action="{{ url_for('edit_profile') }}" method="post" autocomplete="off">
                <label for="firstname">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="firstname" placeholder="Firstname" id="firstname" required>
                <label for="lastame">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="lastname" placeholder="Lastname" id="lastname" required>
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
{% endblock %}