{% extends 'layout.html' %}

{% block title %}Extended Profile{% endblock %}

{% block content %}
<div class="register">
            <h3>Extended Profile</h3>
			<form action="{{ url_for('extended_profile') }}" method="post" autocomplete="off">
                <h6>Gender</h6><br>
				<label for="gender" style="height: 100px;">
					<i class="fas fa-gender"></i>
				</label>
						<input type="radio" name="gender" id="male" value="male"> Male </input><br>
					<label for="gender" style="height: 100px;">
						<i class="fas fa-gender"></i>
					</label>
						<input type="radio" name="gender" id="female" value="female"> Female </input><br>
				<h6>Sexual Orientation</h6><br>
					<label for="sexual_orientation" style="height: 100px;">
						<i class="fas fa-gender"></i>
					</label>
					<input type="radio" name="sexual_orientation" id="straight" value="straight"> Straight </input><br>
					<label for="sexual_orientation" style="height: 100px;">
					<i class="fas fa-gender"></i>
					</label>
					<input type="radio" name="sexual_orientation" id="gay" value="gay"> Gay </input><br>
				<input type="text" name="bio" placeholder="bio" id="bio" style="height: 100px;" required>
				<br>
				<h6>My Interest</h6><br>
				<label for="interest" style="height: 100px;">
					<i class="fas fa-genderless"></i>
				</label>
					<input type="checkbox" name="nature" id="nature"> Nature </input><br>
				<label for="interest" style="height: 100px;">
					<i class="fas fa-genderless"></i>
				</label>
					<input type="checkbox" name="art" id="art"> Art </input><br>
				<label for="interest" style="height: 100px;">
					<i class="fas fa-genderless"></i>
				</label>
				    <input type="checkbox" name="music" id="music"> Music </input><br>
				<label for="interest" style="height: 100px;">
					<i class="fas fa-genderless"></i>
				</label>
					<input type="checkbox" name="sports" id="sports"> Sports </input><br>
				<label for="interest" style="height: 100px;">
					<i class="fas fa-genderless"></i>
				</label>
					<input type="checkbox" name="memes" id="memes"> Memes </input><br>
				<h6>Age Range</h6><br>
				<label for="age" style="height: 100px;">
					<i class="fas fa-genderless"></i>
				</label>
						<input type="radio" name="age1" id="age1"> 18 - 25 </input><br>
					<label for="age" style="height: 100px;">
						<i class="fas fa-genderless"></i>
					</label>
						<input type="radio"  name="age2" id="age2"> 26 - 35 </input><br>
					<label for="age" style="height: 100px;">
						<i class="fas fa-genderless"></i>
					</label>
						<input type="radio"  name="age3" id="age3"> 36 - 50 </input><br>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Save">
			</form> 
		</div>	
{% endblock %}