{% extends 'layout.html' %}

{% block title %} Reset Password{% endblock %}

{% block content %}
		<div class="login">
			<h1>Reset Password</h1>
			<div class="links">
			</div>
			<form action="{{ url_for('forget_pwd') }}" method="post">
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Send">
                <p>Oops you remembered your password<a href="{{ url_for('login') }}">Login</a>.</p>
			</form>
        </div>
        {% endblock %}