{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<p class="account-heading" style="text-align: center;">Status , {{ status }}</p>
<p class="account-heading" style="text-align: center;">Welcome , {{ username }}!</p>
<div class="wrapper">
    <h3>Users</h3>
    <div class="img-area">
        {% for row in profile %}
        <div class="single-img">
            <img src="{{ url_for('static', filename='profile_pic/' + row['picture'])}}" alt="No profile Picture"><br>
            <a href="{{url_for('user_profile')}}"><span><h4 class="account-heading" style="text-align: center;">{{ row['username'] }}</h4></span></a>
            <!-- <a href="{{url_for('user_profile')}}"><span><h4 class="account-heading" style="text-align: center;">{{ row['profile_id'] }}</h4></span></a> -->
                <form action="{{url_for('home')}}" method="post"> 
                        <input type="checkbox" name="like"> Like
                        <input type="submit" name="profile_id" value="{{  row['profile_id'] }}" id="profile_id">
                </form>
                <form action="{{url_for('home')}}" method="post"> 
                    <input type="checkbox" name="dislike"> Dislike
                    <input type="submit" name="profile_id" value="{{  row['profile_id'] }}" id="profile_id">
                </form>
                <form action="{{url_for('home')}}" method="post"> 
                    <input type="checkbox" name="upvote"> Upvote
                    <input type="submit" name="profile_id" value="{{  row['profile_id'] }}" id="profile_id">
                </form>
                <form action="{{url_for('user_profile', profile_id="profile_id")}}" method="get"> 
                    <input type="checkbox" name="view"> View
                    <input type="submit" name="profile_id" value="{{  row['profile_id'] }}" id="profile_id">
                </form>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock %}