<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <title>{% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	</head>
	<body>
  <nav class="navbar navbar-expand-lg" style="background-color: #fe3c72;">
  <a class="navbar-brand" href="#" style=" color: white;">Matcha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="background-color: white"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if session['loggedin'] == True %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}" style=" color: white;"><i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('profile') }}"style=" color: white;"><i class="fas fa-user-circle"></i>Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('edit_profile') }}"style=" color: white;"><i class="fas fa-user-circle"></i>Edit_Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('chat')}}" style=" color: white;"><i class="fas fa-comments"></i>ChatPage<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}"style=" color: white;"><i class="fas fa-sign-out-alt"></i>Logout<span class="sr-only">(current)</span></a>
      </li>
      {% else %}
        <!-- <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login') }}"style=" color: white;"><i class="fas fa-sign-in-alt"></i>Login<span class="sr-only">(current)</span></a>
      </li> -->
      {% endif %}
    </ul>
  </div>
</nav>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</body>
</html>