<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} {% endblock %}</title>
        <link href="{{ url_for('static' ,filename='css/menu/mega_menu.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static' ,filename='css/flaticon.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static' ,filename='css/responsive.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static' ,filename='css/style.css')}}" rel="stylesheet" type="text/css" />
		    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	</head>
	<body>
        <header id="header" class="dark">
          <div class="topbar">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                      <ul class="list-inline text-uppercase top-menu">
                        <li><a href="{{url_for('register')}}">register</a></li>
                        <li><a href="{{url_for('login')}}">login</a></li>
                      </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="menu">
              <nav id="menu" class="mega-menu">
                  <section class="menu-list-items">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12"> 
                            <ul class="menu-logo">
                              <li> <a href=""><img src="{{ url_for('static' ,filename='pictures/backgrounds/matcha2.png')}}" style="width:250px !important;" alt="logo" /> </a> </li>
                            </ul>
                            <ul class="menu-links">
                              {% if session['loggedin'] == True %}
                              <li><a href="{{url_for('home')}}"> Home <i class="fa fa-indicator"></i></a></li>
                              <li><a href="{{url_for('preferences')}}"> Preferences<i class="fa fa-indicator"></i></a></li>
                              <li><a href="{{url_for('profile')}}"> Uploads <i class="fa fa-indicator"></i></a></li>
                              <li><a href="{{url_for('extended_profile')}}"> Extended Profile <i class="fa fa-indicator"></i></a></li>
                              <li><a href="{{url_for('edit_profile')}}"> Settings <i class="fa fa-indicator"></i></a></li>
                              <li><a href="{{url_for('chat')}}"> Chat <i class="fa fa-indicator"></i></a></li>
                              <li><a href="{{url_for('login')}}"> Logout <i class="fa fa-indicator"></i></a></li>
                              {% else %}
                              <li><a href="{{url_for('home')}}"> Home <i class="fa fa-indicator"></i></a></li>
                              {% endif %}
                            </ul>    
                          </div>
                      </div>
                  </section>
              </nav>
          </div>
        </header>

        <div class="">
            {% block content %} {% endblock %}
        </div>

        <footer class="text-white text-center">
          <div class="footer-widget">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="footer-logo mb-2"> <img class="img-center" src="{{ url_for('static' ,filename='images/matcha2.png')}}" style="width:250px !important;" alt="" /></div>
                  <p class="text-white">© 2020 Matcha Group Project</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <script type="text/javascript" src="{{ url_for('static' ,filename='js/jquery/popper.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static' ,filename='js/bootstrap/bootstrap-select.min.js')}}"></script> 
        <script type="text/javascript" src="{{ url_for('static' ,filename='js/jquery/jquery.appear.js')}}"></script>  
        <script type="text/javascript" src="{{ url_for('static' ,filename='js/menu/mega_menu.js')}}"></script> 
        <script type="text/javascript" src="{{ url_for('static' ,filename='js/custom.js')}}"></script>
	</body>
</html>