<html>
  <head>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>
  </head>
{% extends 'layout.html' %}

{% block title %}Location{% endblock %}
{% block content %}
  <body style='margin: 0'>
  <div style="width: 100vw; height: 100vh" id="mapContainer"></div>
  <script>
    // Initialize the platform object:
    var platform = new H.service.Platform({
    'apikey': '{{apikey}}'
    });

	const lng = {{longitude}};
	const lat = {{latitude}};
   
// Obtain the default map types from the platform object   
	var defaultLayers = platform.createDefaultLayers();

// Instantiate (and display) a map object:
var map = new H.Map(
    document.getElementById('mapContainer'),
    defaultLayers.vector.normal.map,
    {
      zoom: 10,
      center: { lat: lat, lng: lng }
    });
	
	const marker = new H.map.Marker({lat: lat, lng: lng});
	map.addObject(marker);
  </script>
  <br><div class="wrapper">
    <div class="img-area">
        <div class="single-img">
                <form action="{{url_for('map_func')}}" method="post"> 
                        <input type="text" name="location"> Enter Your Location
                        <input type="submit" name="location">
                </form>
        </div>
      </div>
</div>
  </body>
  {%endblock%}
</html>