{% extends 'layout.html' %}
    
    {% block title %}Messages{% endblock %}
    
    {% block content %}
<body>
  <input type="text" id="username">
  <button id="send_username">Send Username</button>
  <br>
  <br>
  Send To: <input type="text" id="send_to_username">
  <br>
  Message: <input type="text" id="private_message">
  <button id="send_private_message">Send</button>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

{% endblock %}