{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="content-section">
    <div class="media" style="display: block;">
        {% for row in profile %}
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pic/' + row['picture'])}}" alt="No profile Picture"><br>
        {% endfor %}
    </div>
        <span><h4 class="account-heading">{{ username }}</h4></span> 
    </div>
</div>
<div class="content-section2">
    <div class="media2">
        <div class="icon_middle"></div>
            <i class="fas fa-edit" align="middle"><span>
            <a href="{{ url_for('extended_profile') }}" style="display: block;">Edit</a>
            </span>
            </i>
        </div>
         <div class="icon_middle"></div>
            <i class="fas fa-camera" align="middle"><span>
            <a href="{{ url_for('upload') }}" style="display: block;">Upload</a>
            </span>
            </i>
        <div class="icon_middle"></div>
            <i class="fas fa-user-plus" align="middle"><span>
            <a href="{{ url_for('profile_pic') }}" style="display: block;">DP</a>
            </span>
            </i>
        </div>
    </div>
</div>
<div class="wrapper">
    <h3>Gallery</h3>
    <div class="img-area">
         {% for row in record %}
        <div class="single-img">
            <img  src="{{ url_for('static', filename='pictures/' + row['image_path'])}}" alt="No image uploaded...">
        </div>
         {% endfor %}
    </div>
</div>
{% endblock content %}