{% extends 'layout.html' %}

{% block title %} Reset Password{% endblock %}

{% block content %}
		<div class="login">
			<h1>Reset Password</h1>
			<div class="links">
			</div>
			<form action="{{ url_for('reset') }}" method="post">
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Reset">
                <p>Oops you remembered your password<a href="{{ url_for('login') }}">Login</a>.</p>
			</form>
        </div>
        {% endblock %}