{% extends 'layout.html' %}

{% block title %}User Matches{% endblock %}

{% block content %}
<p class="account-heading" style="text-align: center;">Guess what {{ username }}</p>
<div class="wrapper">
    <h3>It's a Match!</h3>
    <div class="img-area">
        {% for row in profile %}
        <div class="single-img">
            <img src="{{ url_for('static', filename='profile_pic/' + row['picture'])}}" alt="No profile Picture"><br>
            <a href="{{url_for('user_profile')}}"><span><h4 class="account-heading" style="text-align: center;">{{ row['username'] }}</h4></span></a>
            <form action="{{url_for('chat', profile_id="profile_id")}}" method="get"> 
                <input type="checkbox" name="view"> Connect
                <input type="submit" name="profile_id" value="{{  row['profile_id'] }}" id="profile_id">
            </form>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock %}