{% extends 'layout.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="content-section">
    <div class="media" style="display: block;">
        {% for row in profile %}
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_pic/' + row['picture'])}}" alt="No profile Picture"><br>
        {% endfor %}
    </div>
    {% for row in profile %}
        <span><h4 class="account-heading">{{ row['username'] }}</h4></span> 
    {% endfor %}
    </div>
</div>
<div class="content-section">
        
        {% for row in record2 %}
        <div class="single-img">
            <span><h6 class="account-heading">{{ row['gender'] }}</h6></span>
            <span><h6 class="account-heading">{{ row['sexual_orientation'] }}</h6></span>
            <span><h6 class="account-heading">{{ row['bio'] }}</h6></span>
            <span><h6 class="account-heading">{{ row['listofinterest'] }}</h6></span>
        </div>
         {% endfor %}
    </div>
</div>
<div class="content-section2">
    <div class="media2" >
   
    </div>
</div>
</div>
<div class="wrapper">
    <h3>Gallery</h3>
    <div class="img-area">
         {% for row in record %}
        <div class="single-img">
            <img  src="{{ url_for('static', filename='pictures/' + row['image_path'])}}" alt="No image uploaded...">
        </div>
         {% endfor %}
    </div>
</div>
{% endblock content %}